@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,200;1,600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 992px;
    margin: 2rem auto;
}

meal-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1em;
    margin: 1rem;
}

footer {
    margin: 1rem 0;
}

.custom {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}